.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 4%;
    /* margin-top: 8%; */
}
p{
    color: black !important;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: white;
    color: #fff;
    /* border: 1px solid #333; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .forms label {
    position: relative;
  }
  
  .forms label .input {
    /* background-color: #333; */
    /* color: #ffffffb2; */
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border:1px solid #c0c0c0;
    border-radius: 10px;
  }
  
  .forms label .input + span {
    color: rgba(172, 172, 172, 0.329);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .forms label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .forms label .input:focus + span,
  .forms label .input:valid + span {
    color: rgba(0, 0, 0, 0.603);
    top: 0px;
    font-size: 1em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: teal;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }